**Write a program to demonstrate input output commands, use of format, and split commands**

This Program is made by Prakhar Jain

In [1]:
# Taking input from the user
name = input("Enter your name: ") #Input Command

print("Hello, " + name) #Output Command
print(type(name))

Enter your name: Acropolis
Hello, Acropolis
<class 'str'>

In [2]:
# Taking input from the user as integer
num = int(input("Enter a number: "))
 
add = num + 1
 
# Output
print(add)

Enter a number: 9
10

In [3]:
# Output Command
# print() method
print("HII")

HII

In [4]:
# print() method
print("HII", end = "!")
 
# code for disabling the softspace feature 
print('H', 'H', 'I', sep="#")

HII!H#H#I

In [5]:
#Formatting
name = "Prakhar"
print(f'Hello {name}! How are you?')

Hello Prakhar! How are you?

In [6]:
#Addition and subtraction Program with formated output
a = 20
b = 10
 
# addition
sum = a + b
 
# subtraction
sub = a- b
 
# Output
print('The value of a is {} and b is {}'.format(a,b))
 
print('{2} is the sum of {0} and {1}'.format(a,b,sum))
 
print('{sub_value} is the subtraction of {value_a} and {value_b}'.format(value_a = a ,
                                                                         value_b = b,
                                                                         sub_value = sub))

The value of a is 20 and b is 10
30 is the sum of 20 and 10
10 is the subtraction of 20 and 10

In [7]:
#Python String split()
text = 'Python is a fun programming language'

# split the text from space
print(text.split(' '))

['Python', 'is', 'a', 'fun', 'programming', 'language']

In [8]:
#Split using Separator
langs = 'C,Python,R,Java,SQL,Hadoop'
print(langs.split(','))

fruits = 'apples$banana$mango$fig$pear'
print(fruits.split('$'))

['C', 'Python', 'R', 'Java', 'SQL', 'Hadoop']
['apples', 'banana', 'mango', 'fig', 'pear']

In [10]:
# multiple input using split
 
# taking two inputs at a time
x, y = input("Enter a two value: ").split()
print("Number of boys: ", x)
print("Number of girls: ", y)
print()
 
# taking three inputs at a time
x, y, z = input("Enter a three value: ").split()
print("Total number of teachers: ", x)
print("Number of boys is : ", y)
print("Number of girls is : ", z)
print()

Enter a two value: 2 3
Number of boys:  2
Number of girls:  3

Enter a three value: 5 13 21
Total number of teachers:  5
Number of boys is :  13
Number of girls is :  21