**Write at least 10-15  problem codes   to demonstrate 
usage of Lambda functions in Python (with use of map, filter , reduce etc.)**

This Program is made by Prakhar Jain

In [1]:
# Program to show the use of lambda functions
double = lambda x: x * 2
print(double(5))

10

In [2]:
# Use with filter()
my_list = [1, 5, 4, 6, 8, 11, 3, 12]
new_list = list(filter(lambda x: (x%2 == 0) , my_list))
print(new_list)

[4, 6, 8, 12]

In [3]:
# Use with map()
my_list = [1, 5, 4, 6, 8, 11, 3, 12]
new_list = list(map(lambda x: x * 2 , my_list))
print(new_list)

[2, 10, 8, 12, 16, 22, 6, 24]

In [4]:
# Use with reduce
from functools import reduce
li = [5, 8, 10, 20, 50, 100]
sum = reduce((lambda x, y: x + y), li)
print (sum)

193

In [5]:
#simple funtion to multiply 2 numbers
x= (lambda a,b:a*b)(4,5)
print(x)

20

In [6]:
#simple function to cube a number
x=(lambda a:a*a*a)(5)
print(x)

125

In [7]:
l=[1,2,6,7,5,4]
list(map(lambda x:x*2, l))

[2, 4, 12, 14, 10, 8]

In [8]:
#add 2 list
x=[1,2,3,4,5]
y=[5,4,3,2,1]
z=list(map(lambda a,b:a+b,x,y))
print(z)

[6, 6, 6, 6, 6]

In [9]:
#print table of 7 using lambda functions
            # j is equal to x where x is 7 times j and x is in range 1 to 10
table=[lambda j=x:7*j for x in range(1,11)]

#print(table)

for i in table:
    print(i())

7
14
21
28
35
42
49
56
63
70

In [10]:
animals = ['dog', 'cat', 'parrot', 'rabbit']
uppered_animals = list(map(lambda animal: str.upper(animal), animals))
 
print(uppered_animals)

['DOG', 'CAT', 'PARROT', 'RABBIT']

In [11]:
ages = [13, 90, 17, 59, 21, 60, 5]
 
adults = list(filter(lambda age: age>18, ages))
 
print(adults)

[90, 59, 21, 60]