**Write a program to demonstrate list in python and list comparision?**

This Program is made by Prakhar Jain

In [1]:
# empty list
my_list = []

# list of integers
my_list = [1, 2, 3]

# list with mixed data types
my_list = [1, "Hello", 3.4]

# nested list
my_list = ["mouse", [8, 4, 6], ['a']]

In [2]:
# List indexing

my_list = ['p', 'r', 'o', 'b', 'e']

print(my_list[0])  

print(my_list[2])  

print(my_list[4])

p
o
e

In [3]:
# Nested List
n_list = ["Happy", [2, 0, 1, 5]]

# Nested indexing
print(n_list[0][1])

print(n_list[1][3])

a
5

In [4]:
# Negative indexing in lists
my_list = ['p','r','o','b','e']

print(my_list[-1])

print(my_list[-5])

e
p

In [5]:
# List slicing in Python

my_list = ['p','r','o','g','r','a','m','i','z']

# includes element at index 2, 3, 4
# excludes element at index 5
print(my_list[2:5])

# elements beginning to 4th
print(my_list[:-5])

# elements 6th to end
print(my_list[5:])

# elements beginning to end
print(my_list[:])

['o', 'g', 'r']
['p', 'r', 'o', 'g']
['a', 'm', 'i', 'z']
['p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z']

In [6]:
# Correcting mistake values in a list
odd = [2, 4, 6, 8]

# change the 1st item    
odd[0] = 1            

print(odd)

# change 2nd to 4th items
odd[1:4] = [3, 5, 7]  

print(odd)

[1, 4, 6, 8]
[1, 3, 5, 7]

In [7]:
# Appending and Extending lists in Python
odd = [1, 3, 5]

odd.append(7)

print(odd)

odd.extend([9, 11, 13])

print(odd)

[1, 3, 5, 7]
[1, 3, 5, 7, 9, 11, 13]

In [8]:
# Demonstration of list insert() method
odd = [1, 9]
odd.insert(1,3)

print(odd)

odd[2:2] = [5, 7]

print(odd)

[1, 3, 9]
[1, 3, 5, 7, 9]

In [9]:
# Deleting list items
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']

# delete one item
del my_list[2]

print(my_list)

# delete multiple items
del my_list[1:5]

print(my_list)

# delete entire list
del my_list

['p', 'r', 'b', 'l', 'e', 'm']
['p', 'm']

In [10]:
# Sorting
cars = ['Ford', 'BMW', 'Volvo']

cars.sort()

print(cars)

['BMW', 'Ford', 'Volvo']

In [11]:
# Reverse
fruits = ['apple', 'banana', 'cherry']

fruits.reverse()

print(fruits)

['cherry', 'banana', 'apple']

In [12]:
# Pop
fruits = ['apple', 'banana', 'cherry']

fruits.pop(1)

print(fruits)

['apple', 'cherry']