**Write a program to demonstrate String in Python?**


This Program is made by Prakhar Jain

In [1]:
# defining strings in Python
# all of the following are equivalent
my_string = 'Hello'
print(my_string)

my_string = "Hello"
print(my_string)

my_string = '''Hello'''
print(my_string)

Hello
Hello
Hello

In [2]:
# triple quotes string can extend multiple lines
my_string = """Hello, welcome to
           the world of Python"""
print(my_string)

Hello, welcome to
           the world of Python

In [3]:
#Accessing string characters in Python
str = 'programmer'
print('str = ', str)

#first character
print('str[0] = ', str[0])

#last character
print('str[-1] = ', str[-1])

#slicing 2nd to 5th character
print('str[1:5] = ', str[1:5])

#slicing 6th to 2nd last character
print('str[5:-2] = ', str[5:-2])

str =  programmer
str[0] =  p
str[-1] =  r
str[1:5] =  rogr
str[5:-2] =  amm

In [4]:
# Python String Operations
str1 = 'Hello'
str2 ='World!'

# using +
print('str1 + str2 = ', str1 + str2)

# using *
print('str1 * 3 =', str1 * 3)

str1 + str2 =  HelloWorld!
str1 * 3 = HelloHelloHello

In [5]:
# Iterating through a string
count = 0
for letter in 'Hello World':
    if(letter == 'l'):
        count += 1
print(count,'letters found')

3 letters found

In [6]:
# using triple quotes
print('''He said, "What's there?"''')

# escaping single quotes
print('He said, "What\'s there?"')

# escaping double quotes
print("He said, \"What's there?\"")

He said, "What's there?"
He said, "What's there?"
He said, "What's there?"

In [7]:
# Looping Through a String
for x in "banana":
  print(x)

b
a
n
a
n
a

In [8]:
# String Length
a = "Hello, World!"
print(len(a))

13

In [9]:
# Check String
txt = "The best things in life are free!"
print("free" in txt)

True

In [10]:
# Check if NOT
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [11]:
# Upper Case
a = "Hello, World!"
print(a.upper())

# Lower Case
a = "Hello, World!"
print(a.lower())

HELLO, WORLD!
hello, world!

In [12]:
# Replace String
a = "Hello, World!"
print(a.replace("H", "J"))

# Split String
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

Jello, World!
['Hello', ' World!']

In [13]:
# String Format

quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.